{% extends 'base.html.twig' %}

{% block title %}Paiement/ Abonnement{% endblock %}

{% block body %}
<head><meta http-equiv="refresh" content="2; url={{ path('abonnement') }} "></head>
<div class="container">
    <div class="row">
        <div class="col-md-12">
                <h1 id="aboerror">Oups, une erreur est survenue...</h1>
            <br><br>
        </div>
    </div>
</div>

{% endblock %}