{% extends 'base.html.twig' %}

{% block title %}Paiement/ Abonnement{% endblock %}

{% block body %}
<head><meta http-equiv="refresh" content="2; url={{ path('app_login') }} "></head>
<div class="container">
    <div class="row">
        <div class="col-md-12">
                <h1 id="abosuccess">Votre abonnement est validé</h1>
        </div>
    </div>
</div>

{% endblock %}